/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-color: #639cd9;
}

.text-size-xxl{
  font-size: 1.5rem;
}
.text-size-xl {
  font-size: 1.25rem;
}
.text-size-l {
  font-size: 1rem;
}
.text-size-m {
  font-size: 0.75rem;
}

//i{
//  font-size: 1.25rem;
//}

.btn {
  font-size: 1.25rem;
  color: white;
  border: 0;
  padding: 0;
  border-radius: 0.25rem;
}

.btn-good {
  padding: 0.5rem;
  background-color: #74bec1;
}
.btn-bad {
  padding: 0.5rem;
  background-color: #e04b5a;
}
