<nav class="nav-bar">

  <div class="text-size-xxl">Logo Here</div>

  <div class="menu-options text-size-l">
    <a routerLink="/home">Home</a>
    <a routerLink="/my-common/abotus">About Us</a>
    <a routerLink="/my-common/contactus">Contact Us</a>
    <a routerLink="/auth/">Login</a>
  </div>

</nav>


<button class="side-nav-btn btn btn-good" (click)="openNav()"><i class="bi bi-easel3-fill"></i></button>

<nav class="side-nav" id="mySidenav">
  <button class="btn btn-bad remove-btn" (click)="closeNav()"><i class="bi bi-x-square"></i></button>

  <div class="nav-content text-size-m">
    <a routerLink="/home">Home</a>
    <a routerLink="/my-common/abotus">About Us</a>
    <a routerLink="/my-common/contactus">Contact Us</a>
    <a routerLink="/auth/">Login</a>
  </div>

</nav>

